<div class="map-wrapper">
  <ul>
    <p>
      Title: <%= link_to map.title, map %><br>
      Description: <%= map.description %>
      <br>
      Created: <%= map.created_at.strftime("%B, %d, %Y") %>
    </p>
  </ul>
</div>
